<div class="text-center">
  <h4 mat-dialog-title *ngIf="isEdit; else elseBlock">Редактирование департамента</h4>
  <ng-template #elseBlock><h4 mat-dialog-title *ngIf="!isDeleted; else thenBlock">Добавление департамента</h4></ng-template>
  <ng-template #thenBlock><h4 mat-dialog-title>Удаление департамента</h4></ng-template>
  
  <div mat-dialog-content>
    <mat-form-field *ngIf="isDepartmentChoosed && !isDeleted">
      <input [(ngModel)]="name" matInput placeholder="Название" value="">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Подразделение</mat-label>
      <mat-select placeholder="Подразделение" (selectionChange)="subDivisionChanged($event.value)">
        <mat-option *ngFor="let item of subDivisions" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field *ngIf="isEdit || isDeleted">
      <mat-label>Департамент</mat-label>
      <mat-select placeholder="Подразделение" (selectionChange)="departamentChanged($event.value)">
        <mat-option *ngFor="let item of departaments" [value]="item.id">{{item.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onYesClick()">Ok</button>
    <button mat-button (click)="onNoClick()">Отмена</button>
  </div>
  <div class="mt-2">
    <mat-label *ngIf="isError">Не все поля правильно заполнены</mat-label>
  </div>
</div>