<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button>Главная</button>
    <button mat-button>Статистика по департаменту</button>
    <button mat-button>Статистика по подразделениям</button>
    <div class="navbar-right">
      <button mat-button [matMenuTriggerFor]="menu">Дополнительно</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="add">Добавить</button>
        <button mat-menu-item [matMenuTriggerFor]="add">Редактировать</button>
        <button mat-menu-item [matMenuTriggerFor]="add">Удалить</button>
        <mat-menu #add="matMenu">
          <button mat-menu-item>Пользователя</button>
          <button mat-menu-item>Проект</button>
          <button mat-menu-item>Департамент</button>
          <button mat-menu-item>Подразделение</button>
          <button mat-menu-item>Задачу</button>
        </mat-menu>
      </mat-menu>
      <button mat-button>Выход</button>
    </div>
  </mat-toolbar-row>