<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button routerLink="/main-page" >Главная</button>
    <button routerLink="/projects" *ngIf="isAdmin||isDepartment||isDivision" mat-button>Статистика по департаменту</button>
    <button routerLink="/departments"  *ngIf="isAdmin||isDivision" mat-button>Статистика по подразделениям</button>
    <div class="navbar-right">
      <button mat-button [matMenuTriggerFor]="menu">Дополнительно</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="add">Добавить</button>
        <button *ngIf="isAdmin" mat-menu-item [matMenuTriggerFor]="edit">Редактировать</button>
        <button *ngIf="isAdmin" mat-menu-item [matMenuTriggerFor]="delete">Удалить</button>

        <mat-menu #add="matMenu">
          <button *ngIf="isAdmin" mat-menu-item (click)="openCreateUserDialog()">Пользователя</button>
          <button *ngIf="isAdmin||isDepartment||isDivision" mat-menu-item>Проект</button>
          <button *ngIf="isAdmin||isDivision" mat-menu-item>Департамент</button>
          <button *ngIf="isAdmin" mat-menu-item>Подразделение</button>
          <button mat-menu-item (click)="openCreateTaskDialog()">Задачу</button>
        </mat-menu>

        <mat-menu #edit="matMenu">
          <button *ngIf="isAdmin" mat-menu-item>Пользователя</button>
          <button *ngIf="isAdmin||isDepartment||isDivision" mat-menu-item>Проект</button>
          <button *ngIf="isAdmin||isDivision" mat-menu-item>Департамент</button>
          <button *ngIf="isAdmin" mat-menu-item>Подразделение</button>
          <button mat-menu-item>Задачу</button>
        </mat-menu>

        <mat-menu #delete="matMenu">
          <button *ngIf="isAdmin" mat-menu-item>Пользователя</button>
          <button *ngIf="isAdmin||isDepartment||isDivision" mat-menu-item>Проект</button>
          <button *ngIf="isAdmin||isDivision" mat-menu-item>Департамент</button>
          <button *ngIf="isAdmin" mat-menu-item>Подразделение</button>
          <button mat-menu-item>Задачу</button>
        </mat-menu>

      </mat-menu>
      <div *ngIf="isLogin; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock><button mat-button>Выход</button></ng-template>
      <ng-template #elseBlock><button mat-button>Вход</button></ng-template>
    </div>
  </mat-toolbar-row>