<div class="container-fluid py-0 w-100">
  <div class="row">
    <div class="col-12 px-0">
      <nav class="navbar navbar-expand navbar-dark bg-dark w-100">
        <a class="navbar-brand" href="#">Scratch</a>
        <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Статистика по департаменту</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Статистика по подразделениям</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#">Добавить задачу</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Добавить пользователя</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Выйти <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
      </nav>
    </div>
  </div>
</div>