<div class="col-md-6 col-sm-12 mt-4 center_div">
    <div class="login-form">
        <form>
            <div class="form-group">
                <label>Имя пользователя:</label>
                <input type="text" class="form-control" placeholder="Имя пользователя">
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                <input type="password" class="form-control" placeholder="Пароль">
            </div>
            <button type="submit" class="btn btn-black">Войти</button>
        </form>
    </div>
</div>